handlers {
  package = "com.kitchenfantasy"

  groups = [
    "KitchenRest"
  ]
}

paypal {
  mode = "sandbox"
  client_id = ""
  client_secret = ""
}

email {
  user = "fantasykitcheninfo@gmail.com"
  password = "##fantasy"
  from = "fantasykitcheninfo@gmail.com"

  smtp {
    auth = "true"
    startTLS = "true"
    host = "smtp.gmail.com"
    port = 587
  }
}

http {
  port = 8080
  interface = "0.0.0.0"

  threadPool {
    maxThreads = 16
  }
}

riak {
  maxConnections = 10

  port = 8087

  hosts = [
    "127.0.0.1"
  ]
}
