<form class="lift:form.ajax">
    <div id="checkoutForm" class="lift:Checkout.checkout">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="form-one">
                <h4>Update your payment information</h4>
                <p>Payment Details</p>
                <input id="last_name" type="text" placeholder="Last Name">
                <input id="first_name" type="text" placeholder="First Name">
                <select id="cc_type">
                    <option>-- CC Type --</option>
                </select>
                <br /><br />
                <input id="cc_no" type="text" placeholder="Credit Card #*">
                <select id="cc_expiry_month">
                    <option>-- Expiration Month --</option>
                </select>
                <br /><br />
                <select id="cc_expiry_year">
                    <option>-- Expiration Year --</option>
                </select>
            </div>
        </div>
        <div class="col-sm-1">
            <h2 class="or">AND</h2>
        </div>
        <div class="col-sm-4">
            <div class="form-two">
                <h4>Update your shipping information</h4>
                <p>Deliver To</p>
                <input id="address1" type="text" placeholder="Address Line 1*">
                <input id="address2" type="text" placeholder="Address Line 2*">
                <input id="city" type="text" placeholder="City*">
                <input id="zip_code" type="text" placeholder="Zip Code*">
                <select id="states">
                    <option>-- State --</option>
                </select><br /><br />
                <p>Notes</p>
                <textarea id="notes" name="message"  placeholder="Notes about your order, Special Notes for Delivery"
                          rows="5"></textarea>
                <a class="btn btn-primary" href="">Update Payment & Shipping</a>
            </div>
        </div>
    </div>
</form>