<div class="lift:Checkout.confirm">
    <div class="col-sm-12">
        <h2 class="title text-center">Confirm Checkout</h2>
    </div>
    <div class="register-req" data-lift="msgs"></div>
    <div class="table-responsive cart_info col-sm-12" align="center">
    <table class="table table-condensed">
        <thead>
        <tr class="cart_menu">
            <td class="image" align="center">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
        </tr>
        </thead>
        <tbody>
        <div id="cart_item">
            <tr id="cart_row">
                <td class="cart_product">
                    <img width="110" height="110" id="cart_image" src="images/cart/one.png" alt="">
                </td>
                <td class="cart_description" align="center">
                    <h4 id="cart_item_name">Name</h4>
                    <p id="cart_item_desc">Description</p>
                </td>
                <td class="cart_price">
                    <p id="cart_item_price">$0</p>
                </td>
                <td class="cart_quantity">
                    <p>x <span id="cart_quantity">0</span></p>
                </td>
                <td class="cart_total">
                    <p class="cart_total_price">$59</p>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <div id="order_summary" class="heading" align="right">
        <p class="order_subtotal">Subtotal: $0.00</p>
        <p class="order_tax">Tax: $0.00</p>
        <h4 class="order_total">Total: $0.00</h4>
        <a id="checkout" class="btn btn-default check_out">Place Order Now!</a>
    </div>
    <br/><br/>
    </div>
</div>