<form class="lift:form.ajax">
    <div id="checkoutForm" class="lift:Checkout.checkout">
        <div class="col-sm-12">
            <h2 class="title text-center">Checkout</h2>
        </div>

        <div class="register-req" data-lift="msgs"></div>
        <div class="col-sm-4 col-sm-offset-1">
            <div class="form-one">
                <h4>Update your payment information</h4>
                <p>Payment Details</p>

                <span class="lift:msg?id=cc_last_name_err&errorClass=blank-arrow"></span>
                <input id="last_name" type="text" placeholder="Last Name">

                <span class="lift:msg?id=cc_first_name_err&errorClass=blank-arrow"></span>
                <input id="first_name" type="text" placeholder="First Name">

                <span class="lift:msg?id=cc_type_err&errorClass=blank-arrow"></span>
                <select id="cc_type"></select>
                <br /><br />

                <span class="lift:msg?id=cc_no_err&errorClass=blank-arrow"></span>
                <input id="cc_no" type="text" placeholder="Credit Card #*">

                <span class="lift:msg?id=cc_expiry_month_err&errorClass=blank-arrow"></span>
                <select id="cc_expiry_month"></select>
                <br /><br />

                <span class="lift:msg?id=cc_expiry_year_err&errorClass=blank-arrow"></span>
                <select id="cc_expiry_year"></select>
            </div>
        </div>
        <div class="col-sm-1">
            <h2 class="or">AND</h2>
        </div>
        <div class="col-sm-4">
            <div class="form-two">
                <h4>Update your shipping information</h4>
                <p>Deliver To</p>
                <span class="lift:msg?id=addr_err&errorClass=blank-arrow"></span>
                <input id="address1" type="text" placeholder="Address Line 1*">
                <input id="address2" type="text" placeholder="Address Line 2*">
                <span class="lift:msg?id=city_err&errorClass=blank-arrow"></span>
                <input id="city" type="text" placeholder="City*">
                <span class="lift:msg?id=zip_err&errorClass=blank-arrow"></span>
                <input id="zip_code" type="text" placeholder="Zip Code*">
                <span class="lift:msg?id=state_err&errorClass=blank-arrow"></span>
                <select id="states"></select>
                <br /><br />
                <p>Notes</p>
                <textarea id="notes" name="message"  placeholder="Notes about your order, Special Notes for Delivery"
                          rows="5"></textarea>
                <br/><br/>

                <div style="display:none" id="ajax-loader">
                    <img src="/images/ajax-loader.gif" width="16" height="16"/>
                </div>
                <input type="hidden" id="process_checkout" />
                <button type="submit" class="btn btn-default">Update Payment & Shipping</button>
                <br/><br/>
            </div>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</form>