<div class="row">
    <div class="col-sm-4">
        <div class="logo pull-left">
            <a href="/"><img src="/images/home/logo.png" alt="" /></a>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="lift:ShoppingMenu.showMenu">
            <div class="shop-menu pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="/"><i class="fa fa-user"></i> Home</a></li>
                    <li><a href="/cart"><i class="fa fa-shopping-cart"></i> Cart<span id="cart_count" /></a></li>
                    <li><a id="orders" href="/orders"><i class="fa fa-crosshairs"></i> Orders</a></li>
                    <li><a id="login_logout" href="/login"><i class="fa fa-lock"></i> Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>