<div class="login-form"><!--login form-->
    <h2>Login to your account</h2>
    <form class="lift:form.ajax">
        <div class="lift:UserLogin.logIn">
            <div id="registration_form">
                <input id="login_email" type="email" placeholder="Email Address" />
                <input id="login_pw" type="password" placeholder="Password" />
                                <span>
                                    <input id="remember_me" type="checkbox" class="checkbox">
                                    Keep me signed in
                                </span>
                <div style="display:none" id="ajax-loader">
                    <img src="/images/ajax-loader.gif" width="16" height="16"/>
                </div>
                <input type="hidden" id="process_login" />
                <button type="submit" class="btn btn-default">Login</button>
            </div>
        </div>
    </form>
</div><!--/login form-->