<div class="signup-form"><!--sign up form-->
    <h2>New User Signup!</h2>
    <form class="lift:form.ajax">
        <div class="lift:UserLogin.register">
            <input id="email" type="email" placeholder="Email Address"/>
            <input id="pw" type="password" placeholder="Password"/>
            <input id="confirm_pw" type="password" placeholder="Confirm Password"/>
            <input id="invite_code" type="password" placeholder="Verification Code"/>
            <div style="display:none" id="ajax-loader">
                <img src="/images/ajax-loader.gif" width="16" height="16"/>
            </div>
            <input type="hidden" id="process_registration" />
            <div class="col-sm-2">
                <button id="register_user" class="btn btn-default">Signup</button>
            </div>
            <div class="col-sm-2  col-sm-offset-1">
                <button id="cancel_btn" class="btn">Cancel</button>
            </div>
        </div>
    </form>
</div><!--/sign up form-->