<form class="lift:form.ajax">
    <div class="lift:ViewProducts.adminSearch" align="center">
        <span><input type="text" id="order_search" placeholder="Search orders..."/></span>
        &nbsp;&nbsp;<span>Start: <input type="text" id="order_start_date" placeholder="MM/dd/YYYY"/></span>
        &nbsp;&nbsp;<span>End:   <input type="text" id="order_end_date" placeholder="MM/dd/YYYY"/></span>
        <input type="hidden" id="process_order_search" />
        &nbsp;&nbsp;&nbsp;
        <button id="admin_search" type="submit" class="btn btn-default">Search</button>
        <br/><br/>
    </div>
</form>
