<div class="lift:comet?type=ViewOrders">
    <div class="col-sm-12">
        <h2 class="title text-center">My Orders</h2>
    </div>
    <div class="table-responsive cart_info" align="center">
        <div class="register-req" data-lift="msgs"></div>
        <div class="col-sm-12">
            <table id="order-list" class="table table-condensed">
                <thead>
                <tr class="orderMenu">
                    <td>Date</td>
                    <td>Email</td>
                    <td>Name</td>
                    <td align="center">Order ID</td>
                    <td>Credit Card #</td>
                    <td>Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <div id="orderItem">
                    <tr id="orderRow">
                        <td class="order-date">
                            <p id="orderDate"></p>
                        </td>
                        <td class="order-email">
                            <p id="orderEmail"></p>
                        </td>
                        <td class="order-name">
                            <p id="orderName"></p>
                        </td>
                        <td align="center" class="order-id">
                            <p id="orderId"></p>
                        </td>
                        <td class="order-cc">
                            <p id="orderCC"></p>
                        </td>
                        <td class="order-total">
                            <p id="orderTotal"></p>
                        </td>
                        <td>
                            <a id="viewOrderDetails" class="btn btn-default"><i class="fa fa-shopping-cart">
                            </i> View</a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
            <br/><br/>
        </div>
    </div>
</div>