<div class="lift:comet?type=ViewOrders">
    <div class="col-sm-12">
        <h2 class="title text-center">My Orders</h2>
    </div>
    <div class="table-responsive cart_info" align="center">
        <div class="col-sm-12">
            <table id="order-list" class="table table-condensed">
                <thead>
                <tr class="orderMenu">
                    <td>Date</td>
                    <td>Status</td>
                    <td>Email</td>
                    <td>Name</td>
                    <td align="center">Order ID</td>
                    <td>CC #</td>
                    <td>Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <div id="orderItem">
                    <tr class="orderRow">
                        <td class="order-date">
                            <img id="order-new-image" src="/images/product-details/new.jpg"
                                 style="display:none" width="22" height="11" />
                            <p id="orderDate"></p>
                        </td>
                        <td class="order-status">
                            <p id="orderStatus"></p>
                        </td>
                        <td class="order-email">
                            <p id="orderEmail"></p>
                        </td>
                        <td class="order-name">
                            <p id="orderName"></p>
                        </td>
                        <td align="center" class="order-id">
                            <p id="orderId"></p>
                        </td>
                        <td class="order-cc">
                            <p id="orderCC"></p>
                        </td>
                        <td class="order-total">
                            <p id="orderTotal"></p>
                        </td>
                        <td>
                            <a id="viewOrderDetails" class="btn btn-default"><i class="fa fa-shopping-cart">
                            </i> View</a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
            <br/><br/>
        </div>
    </div>
</div>